/* Resetting some default styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1, h3, h4 {
    color: #2c3e50;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    background-color: #ecf0f1;
    margin: 10px;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #bdc3c7;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #3498db;
    color: white;
}

td {
    background-color: #f4f4f4;
}

img {
    display: block;
    margin: 0 auto;
}
